{% extends "base.html" %}

{% block title %}
	Anasayfa 
{% endblock %}

{% block content %}
	{% with msgs =  get_flashed_messages(with_categories=True) %}
	{% for c, msg in msgs %}
		{% if c == 'error' %}
			<div class="flash-error">
		{% else %}
			<div class="success">
		{% endif %}
			{{ msg | safe}}</div><br>
	{% endfor %}
	{% endwith %}

	{% if search %}
	<h3>Search results for "{{ query }}":</h3>
	{% else %}
	<h3>Yeni Ürünler</h3>
	<br>
	<div class="items">
	{% for item in items.items[::-1] %}
	<a href="{{ url_for('item', id=item.id) }}">
		<div class="item">
			<div class="item-wrapper">
				<div class="img-wrapper">
					<img src="{{ url_for('static', filename='uploads/' + item.image) }}" class="pic">
				</div>
				{{ item.name }}
				<span class="right-item">{{ item.price }} ₺</span><br>
			</div>
		</div>
	</a>
	{% endfor %}
	</div>

	<br><br><h3>Sık Görüntülenenler</h3>
	{% endif %}
	<br>
	<div class="items">
	{% for item in items.items %}
	<a href="{{ url_for('item', id=item.id) }}">
		<div class="item">
			<div class="item-wrapper">
				<div class="img-wrapper">
					<img src="{{ url_for('static', filename='uploads/' + item.image) }}" class="pic">
				</div>
				{{ item.name }}
				<span class="right-item">{{ item.price }}₺</span><br>
			</div>
		</div>
	</a>
	{% endfor %}
	</div>

	
    <div class="mt-4 text-center">
        {% if items.has_prev %}
            <a href="{{ url_for('home', page=items.prev_num) }}" class="btn btn-outline-info">Geri</a>
        {% endif %}
        {% for page_num in items.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if items.page == page_num %}
                    <a href="{{ url_for('home', page=page_num) }}" class="btn btn-info">{{ page_num }}</a>
                {% else %}
                    <a href="{{ url_for('home', page=page_num) }}" class="btn btn-outline-info">{{ page_num }}</a>
                {% endif %}
            {% else %}
                <span class="btn btn-outline-secondary disabled">...</span>
            {% endif %}
        {% endfor %}
        {% if items.has_next %}
            <a href="{{ url_for('home', page=items.next_num) }}" class="btn btn-outline-info">İleri</a>
        {% endif %}
    </div>


	{% if not items.items %}
	<div class="flash-error">
		No items found.<br>
		<a href="{{ url_for('home') }}">Diğer ürünlere bak</a>
	</div>
	{% endif %}
{% endblock %}